{
   margin: 0
   padding:0 
}


    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    aling-items: center
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block
    margin: 0 16px;

}
